@font-face
  font-family Inter
  font-weight 400
  font-style italic
  src url(/fonts/Inter-Italic.woff2) format("woff2"), url(/fonts/Inter-Italic.woff) format("woff")
  
@font-face
  font-family Inter
  font-weight 500
  font-style italic
  src url(/fonts/Inter-MediumItalic.woff2) format("woff2"), url(/fonts/Inter-MediumItalic.woff) format("woff")
    
@font-face
  font-family Inter
  font-weight 600
  font-style italic
  src url(/fonts/Inter-SemiBoldItalic.woff2) format("woff2"), url(/fonts/Inter-SemiBoldItalic.woff) format("woff")
      
@font-face
  font-family Inter
  font-weight 700
  font-style italic
  src url(/fonts/Inter-BoldItalic.woff2) format("woff2"), url(/fonts/Inter-BoldItalic.woff) format("woff")
        
@font-face
  font-family Inter
  font-weight 800
  font-style italic
  src url(/fonts/Inter-ExtraBoldItalic.woff2) format("woff2"), url(/fonts/Inter-ExtraBoldItalic.woff) format("woff")
  
body
  font-size: 15px
  font-family: Inter, sans-serif
  
  @media screen and (min-width: 768px)
    font-size: 17px
  
  @media screen and (min-width: 768px)
    font-size: 18px

strong, b
  font-weight: 600

h1, h2, h3, h4, h5, h6
  font-weight: 800
  line-height: 1.3
  
  @media screen and (min-width: 768px)
    line-height: 1.25
  
  @media screen and (min-width: 768px)
    line-height: 1.21
  
h1
  font-size: 24px
  
  @media screen and (min-width: 768px)
    font-size: 32px
  
  @media screen and (min-width: 768px)
    font-size: 40px

h2
  padding-bottom: 0
  border-bottom-width: 0
  font-size: 18px
  
  @media screen and (min-width: 768px)
    font-size: 20px
  
  @media screen and (min-width: 768px)
    font-size: 22px

h3
  font-size: 15px
  
  @media screen and (min-width: 768px)
    font-size: 17px
  
  @media screen and (min-width: 768px)
    font-size: 18px

p, ul, ol
  line-height: 1.5

p
  margin-top: 1.5em
  margin-bottom: 1.5em

.theme-default-content:not(.custom)
  padding-top: 100px

.theme-default-content:not(.custom)
  > h1:first-child,
  > h2:first-child,
  > h3:first-child,
  > h4:first-child,
  > h5:first-child,
  > h6:first-child
    margin-bottom: 2.5em

.theme-default-content:not(.custom) > h2
  margin-bottom: 11px
  
  + p
    margin-top: 11px

.sidebar-group.is-sub-group > .sidebar-heading
  font-size: 1em !important
  
.theme-default-content code
  background-color: rgba(9,9,9,0.05)
  
.sidebar
  background-color: #F6F8F7
  border-right-width: 0
  
.navbar
  border-bottom-width: 1px
  
  .logo
    min-width: 2.6rem !important
    height: 2.6rem !important
    margin-top: 0.25rem

.sidebar-heading.clickable.active,
a.sidebar-link.active
  border-left-color: #00e29c !important
  
.theme-default-content:not(.custom) a:hover
  text-decoration: none
  color: #008c60

a
  transition: 0.15s

a:hover
  color: #008c60
  
.nav-links a:hover,
.nav-links a.router-link-active
  color: #008c60 !important
  
.sidebar-button
  top: 1.1rem !important
  
.sidebar > .sidebar-links > li:last-child
  .sidebar-heading
    opacity: 0.4
    max-width: 220px
    margin-top: 30px
    font-weight: normal
    font-size: 12px
    cursor: default
    
  .arrow
    display: none